<%= form_for :user do |f| %>
  <p>
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </p>
 
  <p>
    <%= f.label :password %><br>
    <%= f.text_area :password %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>